@font-face{
  font-family: 'NewYork';
  src: url('NewYork.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
}


body {
  font-family: "Montserrat", sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background-color: #fff;
  position: relative;
}

h1 {
  color: #0D1B37;
  text-align: center;
  margin-top: 1rem;
  /* font-family: "Montserrat", sans-serif; */
  font-family: "NewYork", "Monsterrat",sans-serif ;
  font-size: 4rem;
  margin-bottom: .5rem;
}

h2 {
  color: #0D1B37;
  text-align: center;
  font-size: 1rem;
}
#subLabelId {
    color: #0D1B37;
    text-align: center;
    font-size: 1rem;
    letter-spacing: 10px;
    margin-bottom: 2rem;
}

button {
  background-color: #a8bbd7;
  color: #0e1f39;
  justify-content: center;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border: 2px;
  border-radius: 30px;
  display: block;
  margin: 20px auto;
  font-family: "Montserrat", sans-serif;
}

.select-date {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 100%;
  margin: 0 auto;
  padding: 15px;
  border-radius: 10px;
}

.select-date select {
  margin: 10px 10px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.date-display {
  margin-top: 20px;
  font-weight: bold;
  color: #f6f2ec;
  display: flex;
  justify-content: center;
  font-size: larger;
}

.slider {
  justify-content: center;
  display: flex;
  margin-top: 4rem;
}

#subTitleDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
}

.heatmap-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0;
  padding-top: 50px;
}

.slider-container {
  width: 300px; /* Adjust as needed */
  margin: auto;
  text-align: center;
  color: white;
}

input[type="range"] {
  width: 100%;
  margin: 15px 0;
}

.circle {
  width: 300px; /* or the size you want */
  height: 300px; /* or the size you want */
  background-color: purple;
  border-radius: 50%;
  position: absolute;
  
}

.circle-top-left {
  width: 1000px; /* or the size you want */
  height: 1000px; /* or the size you want */
  background: radial-gradient(circle 500px at center, #B28DFF, #ffffff);
  border-radius: 50%;
  position: fixed;
  top: -500px;
  left: -500px;
  z-index: -1000;
}

.circle-bottom-right {
  width: 1000px; /* or the size you want */
  height: 1000px; /* or the size you want */
  background: radial-gradient(circle 500px at center, #B28DFF, #ffffff);
  border-radius: 50%;
  position: fixed;
  bottom: -500px;
  right: -500px;
  z-index: -1000;
}

.date{
  color: #0D1B37;
  font-size: 1.5rem;
}