<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Flask Tutorial</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='styles.css') }}"
    />

    <script src="{{ url_for('static', filename='controller/Controller.js') }}"></script>
    <script src="{{ url_for('static', filename='view/index.js') }}"></script>
  </head>

  <body>
    <span id="responseText" style="display: none"></span>
  </body>
</html>
